.slider {
    padding: 120px 0;

    .swiper{
        &-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 350px;
            background-color: aqua;
        }
        // &-btns{
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     gap: 50px;
        // }
        // &-button{
        //     position: relative;
        //     margin: 0;
        //     left: 0;
        //     right: 0;
        //     top: 0;
        // }
        &-pagination-bullet{
            background: #000;
            opacity: 1;

            &.swiper-pagination-bullet-active{
                background: red;
            }
        }
    }
}