<section class="animations">
    <div class="container">
        <ul class="animations__block">
            <li class="animations__block-item" data-aos="fade-up"></li>
            <li class="animations__block-item" data-aos="fade-down"></li>
            <li class="animations__block-item" data-aos="fade-right"></li>
            <li class="animations__block-item" data-aos="fade-left"></li>
            <li class="animations__block-item" data-aos="fade-up"></li>
            <li class="animations__block-item" data-aos="fade-up"></li>
            <li class="animations__block-item" data-aos="fade-up"></li>
            <li class="animations__block-item" data-aos="fade-up"></li>
        </ul>
    </div>
</section>