<footer class="footer">
    <div class="container">
        <address>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, delectus. Laborum dolorem voluptatibus vitae soluta, placeat beatae, ad libero voluptatem magni illo facilis sequi, dignissimos architecto cupiditate? Ipsam, unde quod.
            Fugiat itaque, fugit laboriosam explicabo quisquam placeat eligendi. Corrupti similique harum quia doloribus optio minima amet id, dolores hic quos cupiditate dicta rem ut? Dolores quod nam velit facilis a.
            Debitis molestiae ipsam necessitatibus laboriosam, atque autem possimus blanditiis deleniti at placeat, aliquid officiis corrupti minus quidem asperiores assumenda ipsum, qui eligendi maxime ratione delectus magnam minima. Animi, placeat non!
            Nam quis, in aspernatur ad suscipit ipsam blanditiis neque officiis voluptatum eaque rerum voluptate, itaque, dicta eligendi iure corrupti. Provident incidunt facere necessitatibus obcaecati dolorem eum aperiam neque iste sit!
            Odit hic, libero nam numquam temporibus deserunt minus ipsa fugiat ut ducimus officiis dolores aliquam neque tempore cupiditate qui amet. Ut incidunt id magni numquam doloribus ea totam tempora voluptates!
        </address>
    </div>
</footer>